
/*
### Color contstants
```
$c-black: #000;
$c-white: #fff;
$c-pink: #D77869;
$c-seagreen: #6FC2B4;
$c-lightwarmgrey:#ECEAE5;
$c-warmgrey:#C8C2BE;
$c-purple:#A396A3;
$c-aquablue:#347E84;
$hiof-blue: #073B58;
$color-primary-action: #3276b1;
$navbar-default-link-color: $color-primary-action;
$black: $c-black;
$white: $c-white;
$array: (black: $c-black, white: $c-white, pink: $c-pink, seagreen: $c-seagreen, lightwarmgrey: $c-lightwarmgrey, warmgrey: $c-warmgrey, purple: $c-purple, aquablue: $c-aquablue);
$tints: (85: .85, 60: .60, 45: .45, 30: .30, 15: .15);
```
*/

$c-black: #000;
$c-white: #fff;
$c-pink: #D77869;
$c-seagreen: #6FC2B4;
$c-lightwarmgrey:#ECEAE5;
$c-warmgrey:#C8C2BE;
$c-purple:#A396A3;
$c-aquablue:#347E84;
$hiof-blue: #073B58;
$color-primary-action: #3276b1;
$navbar-default-link-color: $color-primary-action;
$black: $c-black;
$white: $c-white;
$array: (black: $c-black, white: $c-white, pink: $c-pink, seagreen: $c-seagreen, lightwarmgrey: $c-lightwarmgrey, warmgrey: $c-warmgrey, purple: $c-purple, aquablue: $c-aquablue);
$tints: (85: .85, 60: .60, 45: .45, 30: .30, 15: .15);
