/*
# Component: Colors
*/


/*
## Transparency functions

```
@function trans($color, $percentage) {
  @return lighten($color, (1-$percentage)*5%);
}
```


*/


@function trans($color, $percentage) {
  @return lighten($color, (1-$percentage)*5%);
}


/*
## Transparency to hex value mixin

```
@mixin transtohex($type, $color, $percentage) {
    @if $type == color {
        color: trans($color, $percentage);
        //color: rgba($color, $percentage);
    }
    @if $type == bg {
        background-color: trans($color, $percentage);
        //background-color: rgba($color, $percentage);
    }
}
```


*/


@mixin transtohex($type, $color, $percentage) {
    @if $type == color {
        color: trans($color, $percentage);
        //color: rgba($color, $percentage);
    }
    @if $type == bg {
        background-color: trans($color, $percentage);
        //background-color: rgba($color, $percentage);
    }
}




/*
## Color contstants
```
$c-black: #000;
$c-white: #fff;
$c-pink: #D77869;
$c-seagreen: #6FC2B4;
$c-lightwarmgrey:#ECEAE5;
$c-warmgrey:#C8C2BE;
$c-purple:#A396A3;
$c-aquablue:#347E84;
$array: (black, $c-black), (white, $c-white), (pink, $c-pink), (seagreen, $c-seagreen), (lightwarmgrey, $c-lightwarmgrey), (warmgrey, $c-warmgrey), (purple, $c-purple), (aquablue, $c-aquablue);
$tints: (85, .85), (60, .60), (45, .45), (30, .30), (15, .15);
```
*/

$c-black: #000;
$c-white: #fff;
$c-pink: #D77869;
$c-seagreen: #6FC2B4;
$c-lightwarmgrey:#ECEAE5;
$c-warmgrey:#C8C2BE;
$c-purple:#A396A3;
$c-aquablue:#347E84;
$array: (black, $c-black), (white, $c-white), (pink, $c-pink), (seagreen, $c-seagreen), (lightwarmgrey, $c-lightwarmgrey), (warmgrey, $c-warmgrey), (purple, $c-purple), (aquablue, $c-aquablue);
$tints: (85, .85), (60, .60), (45, .45), (30, .30), (15, .15);

/*
## Color class-helpers
*/

/*
### Generate class-helpers for each text-color
```
@each $colorname, $colorvalue in $array{
    .c-#{$colorname}{
        color: $colorvalue;
    }
}
```

#### Generated values

- `.c-black`
- `.c-white`
- `.c-pink`
- `.c-seagreen`
- `.c-lightwarmgrey`
- `.c-warmgrey`
- `.c-purple`
- `.c-aquablue`

#### Examples:

<div class="lo-full c-black"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-black c-white"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-pink"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-seagreen"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-lightwarmgrey"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-warmgrey"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-purple"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-aquablue"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>


*/


@each $colorname, $colorvalue in $array{
    .c-#{$colorname}{
        color: $colorvalue;
    }
}
/*
### Generate class-helpers for each background-color
```
@each $colorname, $colorvalue in $array{
    .c-bg-#{$colorname}{
        background-color: $colorvalue;
    }
}
```

#### Generated values:

- `.c-bg-black`
- `.c-bg-white`
- `.c-bg-pink`
- `.c-bg-seagreen`
- `.c-bg-lightwarmgrey`
- `.c-bg-warmgrey`
- `.c-bg-purple`
- `.c-bg-aquablue`

#### Examples:

<div class="lo-full c-bg-black"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-white"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-pink"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-seagreen"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-lightwarmgrey"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-warmgrey"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-purple"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>
<div class="lo-full c-bg-aquablue"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dictum nulla, sollicitudin hendrerit ex. Maecenas nisi est, ullamcorper nec mauris vitae, finibus dictum sem.</p></div>


*/

@each $colorname, $colorvalue in $array{
    .c-bg-#{$colorname}{
        background-color: $colorvalue;
    }
}

/*
### Generate class-helpers for each text-color tints
```
@each $colorname, $colorvalue in $array{
    @each $tintname, $tintvalue in $tints{
      .c-#{$colorname}--tint__#{$tintname}{
          color: rgba($colorvalue, $tintvalue);
      }
    }
}
```
*/

@each $colorname, $colorvalue in $array{
    @each $tintname, $tintvalue in $tints{
      .c-#{$colorname}--tint__#{$tintname}{
          color: rgba($colorvalue, $tintvalue);
      }
    }
}

/*
### Generate class-helpers for each background-color tints
```
@each $colorname, $colorvalue in $array{
    @each $tintname, $tintvalue in $tints{
      .bg-#{$colorname}--tint__#{$tintname}{
          background-color: rgba($colorvalue, $tintvalue);
      }
  }
}
```
*/

@each $colorname, $colorvalue in $array{
    @each $tintname, $tintvalue in $tints{
      .bg-#{$colorname}--tint__#{$tintname}{
          background-color: rgba($colorvalue, $tintvalue);
      }
  }
}



//---------------------------------------------------------------------------------------------------------




// tints on white


//@each $colorname, $colorvalue in $array{
//
//    $percent: 85;
//
//    @while $percent > 0 {
//
//      @if $percent == 70 {
//        $percent: 60;
//      }
//      //$tintname: 100 - $percent;
//      .c-#{$colorname}--tint-w__#{$percent} {
//
//        $thispercent: $percent / 100;
//
//        @include transtohex(color, $colorvalue, $thispercent);
//
//      }
//      $percent: $percent - 15;
//    }
//
//}
//
//
//
//@each $colorname, $colorvalue in $array{
//
//    $percent: 85;
//
//    @while $percent > 0 {
//
//      @if $percent == 70 {
//        $percent: 60;
//      }
//      //$tintname: 100 - $percent;
//      .bg-#{$colorname}--tint-w__#{$percent} {
//
//        $thispercent: $percent / 100;
//
//        @include transtohex(bg, $colorvalue, $thispercent);
//
//      }
//      $percent: $percent - 15;
//    }
//
//}
