//@import '../../../vendor/sass-mq/mq';

$c-black: #000;
$c-white: #fff;
$c-pink: #D77869;
$c-seagreen: #6FC2B4;
$c-lightwarmgrey:#ECEAE5;
$c-warmgrey:#A396A3;
$c-purple:#347E84;
$c-aquablue:#C8C2BE;

$array: (black, $c-black), (white, $c-white), (pink, $c-pink), (seagreen, $c-seagreen), (lightwarmgrey, $c-lightwarmgrey), (warmgrey, $c-warmgrey), (purple, $c-purple), (aquablue, $c-aquablue);

@each $colorname, $colorvalue in $array{
    .c-#{$colorname}{
        color: $colorvalue;
    }
}


@each $colorname, $colorvalue in $array{
    .c-bg-#{$colorname}{
        background-color: $colorvalue;
    }
}
